<% provide(:title, 'about') %>

<h1>bit·ter</h1>

<h5><em>/ˈbitər/</em></h5>
<h5><em>adjective</em></h5>
<br>
<ol>
  <li>
    <h5>having a sharp, pungent taste or smell; not sweet.</h5>
    <p><em><small>"The raw berries have an intensely bitter flavor."</small></em></p>
    <p><small>Synonyms: sharp, acid, acidic, acrid, tart, sour, biting, unsweetened, vinegary;</small></p>
  </li>
  <br>
  <li>
    <h5>(of people or their feelings or behavior) angry, hurt, or resentful because of 
      one's bad experiences or a sense of unjust treatment.
    </h5>
    <p><em><small>"I don't feel jealous or bitter at all...said no one ever."</small></em></p>
    <p><small>Synonyms: resentful, embittered, aggrieved, begrudging, rancorous, spiteful, jaundiced, 
      ill-disposed, sullen, sour, churlish, morose, petulant, peevish, with a chip on one's shoulder;</small></p>
  </li>
</ol>