<% provide(:title, 'help') %>
<div class="row">
  <h1>help</h1>
  <hr>
</div>
<div class="row">
  <div class="col-md-6">
    <p>getting started</p>
    <ol>
      <li>sign up.</li>
      <li>go to 'account/settings' in the navbar.</li>
      <li>update your gravatar.</li>
      <li>go to 'users' in the navbar.</li>
      <li>click on a name.</li>
      <li>click 'follow'. their posts will now show up in your feed.</li>
      <li>click 'home' or the bitt3r logo in the navbar to see your feed.</li>
      <li>make your first post. there's a limit of 200 characters.</li>
      <li>rinse and repeat.</li>
    </ol>
  </div>
  <div class="col-md-6">
    <p>fun facts</p>
    <ul>
      <li>your password is hashed using MD5.</li>
      <li>your connection to the site is encrypted (see the 'https://' up top?). 's' stands for secure.</li>
      <li>you'll receive only one cookie from bitt3r, which will prevent session-hijacking.</li>
    </ul>
  </div>
</div>