<div class="center hero-unit">
  <h1>Welcome to bitt3r.</h1>
  <h2>Tired of those other social media sites that are clogged with old people and 'friends' that you hate?
      Then bitt3r was made just for you.</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>